:root {
    --soft-red: hsl(7, 99%, 70%);
    --soft-red-line: hsl(4, 62%, 90%);
    --yellow: hsl(51, 100%, 49%);
    --yellow-line: hsl(51, 75%, 86%); 
    --dark-cyan-text: hsl(167, 40%, 24%);
    --dark-blue-photography-text: hsl(198, 62%, 26%);
    --dark-cyan-footer: hsl(168, 34%, 41%);
    /* Neutral Colors */
    --very-dark-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}
h1, 
h2, 
h3,
button {
    font-family: 'Fraunces', serif;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--very-dark-blue);
}
button {
    cursor: pointer;
    text-transform: uppercase;
    width: 140px;
    height: 55px;
    border: none;
    border-radius: 33px;
    color: var(--very-dark-blue);
    background-color: var(--white);
}
button:hover {
    color: var(--white);
    background-color: #6FCEFE;
}
header {
    height: 538px;
    background: url(./images/mobile/image-header.jpg) no-repeat center;
    background-size: cover;
}
h1 {
    margin: 0;
    margin-top: 120px;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 10px;
}
#nav-bar {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo {
    cursor: pointer;
    margin-left: 24px;
}
#nav-hamburger {
    display: block;
    cursor: pointer;
    margin-right: 24px;
}
#nav-desktop {
    display: none;
}
#nav-mobile {
    margin-top: 3rem;
    display: none;
    flex-direction: column;
    align-items: center;
}
.mobile-container {
    width: 330px;
    height: 300px;
    background: var(--white);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
  .mobile-container:before {
    content: "";
    position: absolute;
    right: 0px;
    top: -25px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 27px solid var(--white);
    border-bottom: 13px solid transparent;
}
.hamburger-list {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 40px;
}
.hamburger-item {
    padding-bottom: 30px;
}
.hamburger-item a {
    color: var(--very-dark-grayish-blue);
}
.secundary {
    margin-bottom: 40px;
    background-color: var(--yellow);
}
.arrow {
    height: 114px;
    margin-top: 85px;
    background: url(./images/icon-arrow-down.svg) no-repeat center;
    background-size: contain;
}

@media only screen and (min-width: 1440px) {
    header {
        height: 792px;
        background: url(./images/desktop/image-header.jpg) no-repeat center;
        background-size: contain;
    }
    button {
        margin-left: 20px;
    }
    #nav-bar {
        grid-area: bar;
        padding-top: 55px;
    }
    .nav-logo {
        margin-left: 40px;
    }
    #nav-hamburger {
        display: none;
    }
    #nav-desktop {
        display: flex;
        margin-right: 40px;
    }
    .nav-list {
        display: inline-flex;
    }
    .nav-list a {
        margin: 0 25px;
        color: var(--white);
        font-size: 16px;
    }
    .nav-hamburger {
        display: none;
    }
}
@media only screen and (min-width: 1510px){
    #nav-bar {
        justify-content: space-around;
    }
}
/* Grid */
#grid {
    display: grid;
    grid-template-columns: 1fr;
}
.text-box {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.top {
    padding: 70px 20px;
}
.bottom {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.top h2 {
    color: var(--very-dark-blue);
    font-weight: 900; 
}
.top p {
    color: var(--dark-grayish-blue);
} 
.text-link {
    z-index: 4;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
.line {
    z-index: 1;
    margin: 0 auto;
    width: 140px;
    height: 6px;
    position: relative;
    top: -9px;
}
.yellow {
    cursor: pointer;
    border: 5px solid var(--yellow-line);
    border-radius: 20px;
    background-color: var(--yellow-line);
}
.yellow:hover {
    border-color: var(--yellow);
    background-color: var(--yellow);
}
.red {
    border: 5px solid var(--soft-red-line);
    border-radius: 20px;
    background-color: var(--soft-red-line);
}
.photo {
    height: 312px;
}
.egg {
    background: url(./images/mobile/image-transform.jpg) no-repeat center;
    background-size: contain;
}
.cup {
    background: url(./images/mobile/image-stand-out.jpg) no-repeat center;
    background-size: contain;
}
.graphic {   
    color: var(--dark-cyan-text);
    height: 600px;
    background: url(./images/mobile/image-graphic-design.jpg) no-repeat center;
    background-size: contain;
}
.graphic h2,
.graphic p,
.photography h2,
.photography p {
    margin: 0;
}
.graphic p,
.photography p {
    padding-top: 20px;
    padding-bottom: 50px;
}
.photography {
    color: var(--dark-blue-photography-text);
    height: 600px;
    background: url(./images/mobile/image-photography.jpg) no-repeat center;
    background-size: contain;
}
@media only screen and (min-width: 900px) {
    #grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
         "transform egg"
         "cup stand"
         "graphic photography";
         justify-items: center;
    }
    .text-box {
        width: 100%;
        height: 100%;
    }
    .line {
        margin: 0;
    }
    .transform {
        grid-area: transform;
    }
    .egg {
        width: 100%;
        height: 100%;
        grid-area: egg;
        background: url(./images/desktop/image-transform.jpg) no-repeat center;
        background-size: cover;
    }
    .stand {
        grid-area: stand;
    }
    .cup {
        width: 100%;
        height: 100%;
        background: url(./images/desktop/image-stand-out.jpg) no-repeat center;
        background-size: cover;
        grid-area: cup;
    }
    .graphic {
        width: 100%;
        height: 100%;
        grid-area: graphic;
        background: url(./images/desktop/image-graphic-design.jpg) no-repeat center;
        background-size: cover;
    }
    .photography {
        width: 100%;
        height: 100%;
        grid-area: photography;
        background: url(./images/desktop/image-photography.jpg) no-repeat center;
        background-size: cover;
    }
    .top {
        padding: 0;
        height: 600px;
        width: 450px;
        justify-content: center;
        text-align: left;
    }
    .bottom {
        padding: 0;
        height: 600px;
    }
    .bottom-text {
        align-self: center;
        width: 450px;
    }
}
/* Testimonials */
.testimonial {
    margin: 50px 0;
    text-transform: uppercase;
    color: var(--grayish-blue);
    letter-spacing: 4px;
    font-size: 18px;
    text-align: center;
}
.box {
    margin: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    width: 70px;
    border-radius: 50%;
}
.description {
    margin: 40px 0;
    width: 300px;
    color: var(--very-dark-blue);
}
.name {
    margin: 0;
}
.position {
    color: var(--dark-grayish-blue);
    font-size: 16px;
}
@media only screen and (min-width: 900px) {
    .testimonial-container {
        display: flex;
        justify-content: space-evenly;
    }
}
/* Gallery  */
#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.gallery-box {
    width: 100%;
    height: 180px;
}
.milk {
    background: url(./images/mobile/image-gallery-milkbottles.jpg) no-repeat center;
    background-size: cover;
}
.orange {
    background: url(./images/mobile/image-gallery-orange.jpg) no-repeat center;
    background-size: cover;
}
.cono {
    background: url(./images/mobile/image-gallery-cone.jpg) no-repeat center;
    background-size: cover;
}
.sugar {
    background: url(./images/mobile/image-gallery-sugar-cubes.jpg) no-repeat center;
    background-size: cover;
}
@media only screen and (min-width: 900px) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .gallery-box {
        height: 440px;
    }
    .milk {
        background: url(./images/desktop/image-gallery-milkbottles.jpg) no-repeat center;
        background-size: cover;
    }
    .orange {
        background: url(./images/desktop/image-gallery-orange.jpg) no-repeat center;
        background-size: cover;
    }
    .cono {
        background: url(./images/desktop/image-gallery-cone.jpg) no-repeat center;
        background-size: cover;
    }
    .sugar {
        background: url(./images/desktop/image-gallery-sugarcubes.jpg) no-repeat center;
        background-size: cover;
    }
}
/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-cyan-text);
    background-color: var(--dark-cyan-footer);
}
.footer-logo {
    width: 40%;
    margin: 50px 30px;
    filter: invert(68%) sepia(32%) saturate(645%) hue-rotate(116deg) brightness(96%) contrast(91%);;
}
.nav-footer {
    width: 100%;
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}
.nav-footer a {
    color: var(--dark-cyan-text);
}
.social {
    margin: 30px 0;
}
ion-icon {
    color: var(--dark-cyan-text);
    padding: 0 10px;
    font-size: 25px;
}
@media only screen and (min-width: 900px) {
    .footer-logo {
        width: 10%;
    }
    .nav-footer {
        justify-content: center;
    }
    .nav-footer a {
        padding: 0 20px;
    }
}